.table-view .column-header-background{
    -fx-background-radius: 20 20 0 0;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.default-color0.chart-pie { -fx-pie-color: #5B1113; }
.default-color1.chart-pie { -fx-pie-color: #E0AC9D; }
.default-color2.chart-pie { -fx-pie-color: #E88873; }
.default-color3.chart-pie { -fx-pie-color: #A37774; }
.default-color4.chart-pie { -fx-pie-color: #5C6D70; }
.default-color5.chart-pie { -fx-pie-color: #484A47; }
 
.chart-pie-label-line {
    -fx-stroke: #8b4513;
    -fx-fill: #8b4513;
}
 
.chart-pie-label {
    -fx-fill: #8b4513;
    -fx-font-size: 1em;
} 
.chart-legend {
   -fx-background-color: transparent;
   -fx-stroke: #daa520;
}