.table-view .column-header-background{
    -fx-background-radius: 20 20 0 0;
}

.table-view .column-header-background .filler {
    -fx-background-color: transparent;
}

.default-color0.chart-pie { -fx-pie-color: #953A39; }
.default-color1.chart-pie { -fx-pie-color: #E0AC9D; }
.default-color2.chart-pie { -fx-pie-color: #E88873; }
.default-color3.chart-pie { -fx-pie-color: #A37774; }
.default-color4.chart-pie { -fx-pie-color: #5C6D70; }
.default-color5.chart-pie { -fx-pie-color: #484A47; }
 
.chart-pie-label-line {
    -fx-stroke: #000000;
    -fx-fill: #000000;
}

.chart-title {
    -fx-fill: #000000;
    -fx-font-weight: bold;
    -fx-font-size: 18px;
    -fx-font-family: Candara;
} 
 
.chart-pie-label {
    -fx-fill: #000000;
    -fx-font-size: 18px;
    -fx-font-family: Candara;
} 
.chart-legend {
   -fx-background-color: transparent;
   -fx-stroke: #daa520;
   -fx-font-family: Candara;
   -fx-font-size: 18px;
}

.chart-alternative-row-fill {
    -fx-fill: #BCC5B4;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}

.default-color0.chart-series-line { -fx-stroke: #953A39; }

.default-color0.chart-bar { -fx-bar-fill: #953A39; }
.default-color1.chart-bar { -fx-bar-fill: #E0AC9D; }
.default-color2.chart-bar { -fx-bar-fill: #E88873; }
.default-color3.chart-bar { -fx-bar-fill: #A37774; }
.default-color4.chart-bar { -fx-bar-fill: #5C6D70; }
.default-color5.chart-bar { -fx-bar-fill: #484A47; }

#pBarEntertainment {
    -fx-accent: #E9BCB7;
}

#pBarFood {
    -fx-accent: #E0AC9D;
}

#pBarTransportation {
    -fx-accent: #E88873;
}

#pBarHome {
    -fx-accent: #A37774;
}

#pBarPersonal {
    -fx-accent: #C2DAC6;
}

#pBarOthers {
    -fx-accent: #9AC2C5;
}